In [3]:
import pandas as pd
csv_files =[
    "imdb_action_movies_2024_loadmore.csv",
    "imdb_animation_movies_2024_loadmore.csv",
    "imdb_horror_movies_2024_loadmore.csv",
    "imdb_fantasy_movies_2024_loadmore.csv",
    "imdb_crime_movies_2024_loadmore.csv",
]
df_list = [pd.read_csv(file) for file in csv_files]
combined_df = pd.concat(df_list, ignore_index=True)
print(combined_df)

                                       Title   Genre  Rating Votes Duration
0                            1. Gladiator II  action     6.5  258K   2h 28m
1                            2. William Tell  action     5.7  3.5K   2h 14m
2                          3. Dune: Part Two  action     8.5  647K   2h 46m
3                                4. Twisters  action     6.5  177K    2h 2m
4                       5. Kraven the Hunter  action     5.5   65K    2h 7m
..                                       ...     ...     ...   ...      ...
245                          46. Killer Heat   crime     5.6   14K   1h 35m
246                             47. Boneyard   crime     4.1  5.3K   1h 36m
247                       48. Beating Hearts   crime     7.0  6.1K   2h 46m
248                            49. Sector 36   crime     7.1   26K    2h 3m
249  50. Twilight of the Warriors: Walled In   crime     6.9   11K    2h 6m

[250 rows x 5 columns]

In [3]:
combined_df

                                       Title   Genre  Rating Votes Duration
0                            1. Gladiator II  action     6.5  258K   2h 28m
1                            2. William Tell  action     5.7  3.5K   2h 14m
2                          3. Dune: Part Two  action     8.5  647K   2h 46m
3                                4. Twisters  action     6.5  177K    2h 2m
4                       5. Kraven the Hunter  action     5.5   65K    2h 7m
..                                       ...     ...     ...   ...      ...
245                          46. Killer Heat   crime     5.6   14K   1h 35m
246                             47. Boneyard   crime     4.1  5.3K   1h 36m
247                       48. Beating Hearts   crime     7.0  6.1K   2h 46m
248                            49. Sector 36   crime     7.1   26K    2h 3m
249  50. Twilight of the Warriors: Walled In   crime     6.9   11K    2h 6m

[250 rows x 5 columns]

In [4]:
!pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\admin\anaconda3\lib\site-packages (2.0.41)
Requirement already satisfied: pymysql in c:\users\admin\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: greenlet>=1 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy) (4.13.2)

In [5]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\admin\anaconda3\lib\site-packages (1.1.1)

In [6]:
!pip install --upgrade sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\admin\anaconda3\lib\site-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy) (4.13.2)

In [12]:


from sqlalchemy import create_engine

# Replace with your details:
username = 'root'
password = 'root'
hostname = 'localhost'
database = 'DATA_2024'

engine = create_engine(f"mysql+pymysql://{username}:{password}@{hostname}/{database}")
print("Connection created!")

import pandas as pd

csv_files =[
    "imdb_action_movies_2024_loadmore.csv",
    "imdb_animation_movies_2024_loadmore.csv",
    "imdb_horror_movies_2024_loadmore.csv",
    "imdb_fantasy_movies_2024_loadmore.csv",
    "imdb_crime_movies_2024_loadmore.csv",
]
df_list = [pd.read_csv(file) for file in csv_files]
combined_df = pd.concat(df_list, ignore_index=True)
combined_df.to_sql(
    name='imdb_movies',
    con=engine,
    if_exists='replace',  # or 'append'
    index=False
)
print("Data uploaded to MySQL!")

Connection created!
Data uploaded to MySQL!